#siderbarimg1{
	width:75%;
	height: 10%;
	margin: 0 auto;
	margin-top: 25%;
}

#siderbarimg2{
	width:70%;
	height: 5%;
	margin: 0 auto;
	margin-top: 15%;
}
#siderbarimgArea{
	width:100%;
}
#siderbarimg2_blank{
	width:70%;
	height: 5%;
	margin: 0 auto;
	margin-top: 15%;
}

#siderbarimg3{
	width:70%;
	height: 10%;
	margin: 0 auto;
	margin-top: 15%;
}